<html>
    <head>
        <title>Bible Memorization by Chapter</title>
    </head>

    <body>
        <div>
            Links:
            <a href="{{  url_for('potato')  }}">File upload</a>
            <a href="{{  url_for('enter')  }}">Bible game</a>
            <a href="{{  url_for('login')  }}">Login</a>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
        
    </body>
</html>
