{% extends "layout.html" %}

{% block content %}

<h1>
    Write the title of each chapter!
</h1>

<form action="/bmc_final">
    Chapter 1: <input name="1" type="text">
    <br/>
    Chapter 2: <input name="2" type="text">
    <br/>
    Chapter 3: <input name="3" type="text">
    <br/>
    Chapter 4: <input name="4" type="text">
    <br/>
    Chapter 5: <input name="5" type="text">
    <br/>
    Chapter 6: <input name="6" type="text">
    <br/>
    Chapter 7: <input name="7" type="text">
    <br/>
    <input type="submit">
</form>

{% endblock %}